*, *::before, *::after{
box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

*{
margin: 0; /* Set the default margin to 0 */
padding: 0; /* Set the default padding to 0 */
}

/* ---------------------------------------- */

body{
background-color: #12131D;
scroll-behavior: smooth; /* Makes normal scrolling smooth */
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}

.conteiner_main {

     /* CENTRALIZANDO O ELEMENTO */
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     
     /* -------------------------- */

}

.content_main {
     
     display: grid;
     box-shadow: 0px 0px 10px 5px white;
     background-color: hwb(236 9% 74%);
     padding: 20px;
     gap: 10px;
     border-radius: 10px;

}

.content_main h2 {

     color: white;
     font-size: 30px;

}

.content_main input {

     font-size: 30px;
     padding: 5px;
     outline: none;
     text-align: right;

}

.conteiner_buttons {
     
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 5px;

     
}
.conteiner_buttons button {
     
     font-size: 30px;
     padding: 8px;
     border: none;

}

/* ---------------------------------------- */


@media (min-width: 769px) {
     .conteiner_buttons button:hover {
     
          cursor: pointer;
          transition: 0.150s linear;
          color: white;
          background: #12131D;
     
     }
}

@media (max-width: 768px) {
     .conteiner_buttons button {
          font-size: 20px;
     }
     .conteiner_buttons button:active {
          cursor: pointer;
          color: white;
          background: #12131D;
     }
     .content_main input {
          font-size: 20px;
     }

}

@media (max-width: 400px) {
     .conteiner_buttons button {
          font-size: 15px;
     }
     .content_main input {
          font-size: 15px;
     }
}